.main-div-m{
    /* padding: 20px; */
    margin: 10px;
}
.sub-div-m{
    display: flex;
    flex-direction: column;
}
.m-heading{
    margin-block: 15px;
    font-size: 20px;
    font-weight: 400;
    font-style: italic;
    text-align: center;
}
.m-text{
    margin-block: 15px;
}

.m-btn{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-block: 10px;
}
.m1-btn{
    width: 40%;
}
.m1-btn button{
    padding: 10px;
    font-size: 17px;
    font-weight: 200;
    background-color: blue;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.m-upload-btn{
    width: 40%;
}
.m-upload-btn button{
    padding: 10px;
    font-size: 17px;
    font-weight: 200;
    background-color: greenyellow;
    border-radius: 10px;
    cursor: pointer;
}